# ==========================================
# macOS
# ==========================================
.DS_Store


# ==========================================
# PyCharm / IDE
# ==========================================
.idea/


# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]


# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/


# ==========================================
# Generated datasets / feature tables
# ==========================================
results/measurements/
results/feature_tables/


# ==========================================
# Personal notes
# ==========================================
fragen papenbrock
notes anomaly detection
notizen für die geschriebene BA
